<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.networktest3111">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="星座"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationBase"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DayActivity"
            android:exported="false" />
        <activity
            android:name=".WeekActivity"
            android:exported="false" />
        <activity
            android:name=".MonthActivity"
            android:exported="false" />
        <activity
            android:name=".YearActivity"
            android:exported="false" />
        <activity
            android:name=".ConsActivity"
            android:exported="false" />
        <activity
            android:name=".PairActivity"
            android:exported="false" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".AlterActivity"
            android:exported="false" />
    </application>

</manifest>